<!-- Extends the layout from /views/layout.html -->
{% extends 'default.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Help and support while self-isolating
{% endblock %}
<!-- Breadcrumb goes inside the beforeContent block -->
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;padding-bottom:0px; nhsuk-u-padding-top-0">
<!---Breadcrumb start-->
<nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
    <div >
		<ol class="nhsuk-breadcrumb__list ">
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Health A to Z</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="covidhub">Coronavirus (COVID-19)</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Self-isolation</a></li>
		</ol>
		<!---Mobile breadcrumb start-->
		<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:void(0)">Self-isolation</a></p>
	</div>
</nav>
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		<h1>Get help and financial support while self-isolating</h1>
    <p>Staying at home and self-isolating can be difficult but it's important to stop coronavirus (COVID-19) spreading to other people.</p>
    <p>Help and support is available while you're at home.</p>

    <h2>Financial support</h2>
    <p>If you're on a low income and you're asked to self-isolate by NHS Test and Trace, you may be able to <a>apply for a £500 Test and Trace Support Payment on GOV.UK.</a></p>
    <p>There’s separate information about self-isolation and work.</p>

    <h2>Help with everyday tasks from an NHS volunteer</h2>
    <p><a>NHS Volunteer Responders</a> can help with things like:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
			<li>collecting shopping</li>
			<li>collecting medicines and prescriptions</li>
			<li>phone calls if you want to chat to someone</li>
		</ul>
    <p><a>Call 0808 196 3646</a> (8am to 8pm, everyday) to arrange help from a volunteer.</p>

    <h2>Get help from your local council</h2>
    <p>You might be able to get:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
			<li>money to help with living costs</li>
			<li>help getting food and other essentials</li>
			<li>support for your business</li>
		</ul>
    <p><a>Get coronavirus help from your local council on GOV.UK.</a></p>

    <h2>Emotional support</h2>
    <p>It's important to remember to take care of your mind as well as your body and to get support if you need it.</p>
    <p><a>Every Mind Matters</a> has some useful tips to help your mental wellbeing while staying at home.</p>


		<div class="nhsuk-review-date nhsuk-u-padding-top-5">
			<p class="nhsuk-body-s">
				Page last reviewed: 21 December 2020<br>
				Next review due: 21 December 2020
			</p>
		</div>
		</div>
	</div>
</main>
{% endblock %}
