
{% extends 'default.html' %}

{% block pageTitle %}
  Self-isolation with coronavirus
{% endblock %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" style="background-color:inherit;" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Health A to Z</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="covidhub">Coronavirus (COVID-19)</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:void(0)">Self-isolation with coronavirus</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h1>Self-isolation with coronavirus</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Self-isolation is when you do not leave your home because you have or might have coronavirus (COVID-19). This helps stop the virus spreading to other people.</p>

    <ul class="nhsuk-hub-key-links">
      <li class="nhsuk-hub-key-links__list-item">
        <a href="do-i-need-to-self-isolate">When to self-isolate</a>
      </li>
      <li class="nhsuk-hub-key-links__list-item">
        <a href="when">How long to self-isolate</a>
      </li>
      <li class="nhsuk-hub-key-links__list-item">
        <a href="rules">The rules of self-isolation</a>
      </li>
      <li class="nhsuk-hub-key-links__list-item">
        <a href="why">Why it's important to self-isolate</a>
      </li>
      <li class="nhsuk-hub-key-links__list-item">
        <a href="how-to-look-after-yourself">How to look after yourself at home if you have coronavirus</a>
      </li>
      <li class="nhsuk-hub-key-links__list-item">
        <a href="how-to-avoid-spreading">How to avoid spreading coronavirus to people you live with</a>
      </li>
      <li class="nhsuk-hub-key-links__list-item">
        <a href="help">Get help and financial support while self-isolating</a>
      </li>
      <li class="nhsuk-hub-key-links__list-item">
        <a href="work">Self-isolation and work</a>
      </li>

    </ul>

    <hr class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible" style="border:3px solid rgba(204,204,204,.5);">

    <h2 class="nhsuk-heading-s nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-2">Related services</h2>
    <ul class="related-links">
      <li>
        <a href="https://www.gov.uk/get-coronavirus-test">GOV.UK: get a test to check if you have coronavirus</a>
        <div>www.gov.uk</div>
      </li>
      <li>
        <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/research/">When will I be invited to get vaccinated?</a>
        <div>www.nhs.uk</div>
      </li>
      <li>
        <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/research/">Take part in coronavirus research</a>
        <div>www.nhs.uk</div>
      </li>
    </ul>

  </div>
</div>
{% endblock %}
