<!-- Extends the layout from /views/layout.html -->
{% extends 'default.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
When to self-isolate
{% endblock %}
<!-- Breadcrumb goes inside the beforeContent block -->
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;padding-bottom:0px; nhsuk-u-padding-top-0">
<!---Breadcrumb start-->
  <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
		<ol class="nhsuk-breadcrumb__list ">
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Health A to Z</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="covidhub">Coronavirus (COVID-19)</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Self-isolation</a></li>
		</ol>
		<!---Mobile breadcrumb start-->
		<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:void(0)">Self-isolation</a></p>
  </nav>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
    	<h1>When to self-isolate</h1>
    	<p>You should self-isolate immediately if you have coronavirus (COVID-19) or might have the virus.</p>
      <p>If you've had the COVID-19 vaccine, you must still self-isolate. This is because it’s not known yet how much the vaccine stops the virus spreading.</p>
      <p>Children under 18 years old should tell a trusted adult before self-isolating.</p>
      <p>If you think you've been in contact with someone who has coronavirus, but you do not have symptoms and have not been told to self-isolate, continue to follow social distancing advice.</p>

      <h2>If you have symptoms</h2>
      <p>Self-isolate immediately if you have coronavirus symptoms:</p>
    	<ul class="nhsuk-list nhsuk-list--bullet">
    		<li>a high temperature</li>
    		<li>a new, continuous cough</li>
    		<li>a loss or change to sense of smell or taste</li>
    	</ul>
    	<p>Get a test as soon as possible to see if you have the virus. The test needs to be done in the first 8 days of having symptoms.</p>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/minor-injuries-unit/locationsearch/551">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Get a free PCR test to check if you have coronavirus on GOV.UK</span>
        </a>
      </div>
      
      <p>You may want to tell people you've been in close contact with in the past 48 hours that you might have coronavirus.</p>
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What does close contact mean?
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Examples of close contact include:</p>
          <ul>
            <li>close face to face contact (under 1 metre) for any length of time – including talking to them or coughing on them</li>
            <li>being within 1 to 2 metres of each other for more than 15 minutes – including travelling in a small vehicle</li>
            <li>spending lots of time in your home, such as cleaning it</li>
          </ul>
        </div>
      </details>

      <h2>If you’ve tested positive</h2>
      <p>You should self-isolate immediately if you’ve had a positive test result. This means you have coronavirus.</p>
      <p>There’s more information about self-isolating if you get a <a>positive test result</a>.</p>

      <h2>If someone you live with has coronavirus</h2>
      <p>Self-isolate immediately if either:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
    		<li>someone you live with has coronavirus symptoms</li>
    		<li>someone you live with has tested positive</li>
    	</ul>
      <p>You could have the virus without knowing it.</p>

      <h2>If someone in your support or childcare bubble has coronavirus</h2>
      <p>Self-isolate if either:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
    		<li>someone in your support or childcare bubble has symptoms and you’ve been in close contact with them since their symptoms started or during the 48 hours before they started</li>
    		<li>someone in your support or childcare bubble tested positive and you’ve been in close contact with them since they had the test or in the 48 hours before their test</li>
    	</ul>
      <p>The people you live with do not need to self-isolate.</p>
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What’s a support bubble and a childcare bubble?
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>A support bubble is where someone who lives alone (or just with their children) can meet people from 1 other household. Find out more about <a>making a support bubble with another household on GOV.UK</a>.</p>
          <p>A childcare bubble is where 1 household links with one other household to provide informal childcare to anyone under 14. Find out more about <a>making a childcare bubble with another household on GOV.UK</a>.</p>
        </div>
      </details>

      <h2>If you’ve been told to self-isolate by NHS Test and Trace</h2>
      <p>Self-isolate if you've been told by NHS Test and Trace that you've been in contact with someone who tested positive.</p>
      <p>The people you live with do not need to self-isolate.</p>
      <p><a>Find out what to do if you're told to self-isolate by NHS Test and Trace or the NHS COVID-19 app</a></p>
      <p>It's a legal requirement to self-isolate if you are told to by NHS Test and Trace. You could be fined if you do not stay at home.</p>

      <h2>If you’ve recently returned from abroad</h2>
      <p>Self-isolate if you enter the UK from outside the Common Travel Area (Ireland, the Channel Islands or the Isle of Man).</p>
      <p>See <a>how to quarantine when you arrive in England on GOV.UK</a>.</p>

      <div class="nhsuk-inset-text">
    		<span class="nhsuk-u-visually-hidden">How long to self-isolate</span>
        <h3>How long to self-isolate</h3>
        <p>If you test positive, your self-isolation period includes the day your symptoms started (or the day you had the test, if you do not have symptoms) and the next 10 full days.
        <p>Anyone you live with will also need to self-isolate at the same time.</p>
        <p>You may need to self-isolate for longer if you get symptoms while self-isolating or your symptoms do not go away.</p>
        <p>Read more about <a>how long to self-isolate</a>.</p>
    	</div>

  		<div class="nhsuk-review-date nhsuk-u-padding-top-5">
  			<p class="nhsuk-body-s">
  				Page last reviewed: 21 December 2020<br>
  				Next review due: 21 December 2020
  			</p>
  		</div>

  	</div>
  </div>
</main>
{% endblock %}
