<!-- Extends the layout from /views/layout.html -->
{% extends 'default.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
When to start and stop self-isolating
{% endblock %}
<!-- Breadcrumb goes inside the beforeContent block -->
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;padding-bottom:0px; nhsuk-u-padding-top-0">
<!---Breadcrumb start-->
<nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
    <div >
		<ol class="nhsuk-breadcrumb__list ">
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Health A to Z</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../covidhub">Coronavirus (COVID-19)</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="./">Self-isolation</a></li>
		</ol>
		<!---Mobile breadcrumb start-->
		<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:void(0)">NHS Covid-19</a></p>
	</div>
</nav>
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
	<h1>When to start and stop self-isolating</h1>
	<!--- Needs
	<div class="user-need">
	<h3>User needs</h3>
		<ul>
			<li>I need to understand when to start and stop isolaing</li>
		</ul>
	</div>
	</br>
	<div class="org-need">
	<h3>Organisational needs</h3>
		<ul>
			<li>We need people to isolate for the maximum recomended time</li>
		</ul>
	</div>
	<!--- end Needs-->
	<p>How long you need to self-isolate depends if you've tested positive for coronavirus (COVID-19) or have been in close contact with someone who has</p>

  <div class="nhsuk-expander-group">
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          If you have symptoms or have tested positive
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <h3>How long you need to self-isolate</h3>
        <p>If you have symptoms or test positive, your self-isolation period includes the day your symptoms started (or the day you had the test, if you do not have symptoms) and the next 10 full days. This means that if, for example, your symptoms started at any time on the 15th of the month (or if you did not have symptoms but your first positive COVID-19 test was taken on the 15th), your isolation period ends at 23:59 hrs on the 25th.</p>
        <h3>When to stop self-isolating</h3>
        <p>You can stop self-isolating after 10 days if either:</p>
        <ul>
          <li>you do not have any symptoms</li>
          <li>you just have a cough or changes to your sense of smell or taste - these can last for weeks after the infection has gone</li>
        </ul>
        <h3>When to keep self-isolating</h3>
        <p>Keep self-isolating if you have any of these symptoms after 10 days:</p>
        <ul>
          <li>a high temperature or feeling hot and shivery</li>
          <li>a runny nose or sneezing</li>
          <li>feeling or being sick</li>
          <li>diarrhoea</li>
        </ul>
        <p>Only stop self-isolating when these symptoms have gone.</p>
        <p>If you have diarrhoea or you're being sick, stay at home until 48 hours after they've stopped.</p>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          If someone you live with has tested positive
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <h3>How long you need to self-isolate</h3>
        <p>If someone you live with tests positive, your self-isolation period includes the day their symptoms started (or the day they had the test, if they do not have symptoms) and the next 10 full days. This means that if, for example, their symptoms started at any time on the 15th of the month (or if they did not have symptoms but their first positive COVID-19 test was taken on the 15th), your isolation period ends at 23:59 hrs on the 25th.</p>
        <h3>When to stop self-isolating</h3>
        <p>You can stop self-isolating after 10 days if you do not get any symptoms.</p>
        <h3>What to do if you get symptoms</h3>
        <p><a href="https://www.gov.uk/get-coronavirus-test">Get a test to check if you have coronavirus on GOV.UK</a> if you get symptoms while you're self-isolating.</p>
        <p>If your test is negative, keep self-isolating for the rest of the 10 days.</p>
        <p>If your test is positive, the 10 days restarts from when your symptoms started. This will mean you're self-isolating for more than 10 days overall.</p>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          If someone in your support bubble has tested positive
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <h3>How long you need to self-isolate</h3>
				<p>Self-isolate immediately if someone in your support bubble has tested positive and either:</p>
				<ul>
					<li>you've been in close contact with them since their symptoms started or during the 48 hours before their symptoms started</li>
					<li>you've been in close contact with them since they had the test or during the 48 hours before their test (if they have not had symptoms)</li>
				</ul>
				<p>Your self-isolation period includes the day you were last in contact with the person and the next 10 full days.</p>
				<p>This means that if, for example, you were last in contact with the person on the 15th of the month, your isolation period ends at 23:59 hrs on the 25th</p>
				<h3>When to stop self-isolating</h3>
				<p>You can stop self-isolating after 10 days if you do not get any symptoms.</p>
					<h3>What to do if you get symptoms</h3>
					<p><a href="https://www.gov.uk/get-coronavirus-test">Get a test to check if you have coronavirus on GOV.UK</a> if you get symptoms while you're self-isolating.</p>
					<p>If your test is negative, keep self-isolating for the rest of the 10 days.</p>
					<p>If your test is positive, the 10 days restarts from when your symptoms started. This will mean you're self-isolating for more than 10 days overall.</p>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          If you've been told to self-isolate by NHS Test and Trace
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Self-isolate immediately if either:</p>
        <ul>
          <li>you get a text, email or call from NHS Test and Trace telling you to self-isolate</li>
          <li>you get an alert from the NHS COVID-19 app telling you to self-isolate</li>
        </ul>
        <p>Your self-isolation period includes the day you were last in contact with the person who tested positive for coronavirus and the next 10 full days.<p>
        <p>This means that if, for example, you were last in contact with the person on the 15th of the month, your isolation period ends at 23:59 hrs on the 25th.<p>
        <p><a href="">Find out what to do if you've been told to self-isolate by NHS Test and Trace</a>.<p>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          If you've having surgery or a procedure
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Before you go into hospital, you, the people you live with and anyone in your support bubble may need to self-isolate.</p>
        <p>Your hospital will contact you with more information about what you need to do.<p>
      </div>
    </details>

  </div>

	<!--- Why prompt -->
		{% include "why_prompt.html" %}
	<!--- end Why prompt -->

			<div class="nhsuk-review-date nhsuk-u-padding-top-5">
			<p class="nhsuk-body-s">
				Page last reviewed: 21 December 2020<br>
				Next review due: 21 December 2020
			</p>
		</div>
		</div>
	</div>
</main>
{% endblock %}
