<!-- Extends the layout from /views/layout.html -->
{% extends 'default.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid-19
{% endblock %}
<!-- Breadcrumb goes inside the beforeContent block -->
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;padding-bottom:0px; nhsuk-u-padding-top-0">
<!---Breadcrumb start-->
<nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
    <div >
		<ol class="nhsuk-breadcrumb__list ">
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="javascript:void(0)">NHS Covid-19</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Self-Isolation</a></li>

		</ol>
	<!---Mobile breadcrumb start-->
	<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:void(0)">NHS Covid-19</a></p>
	</div>
</nav>
	<div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-two-thirds">
			<h1>Advice for employers</h1>
			<h2>Make sure your workers self-isolate</h2>
			<p>You should help your employees self-isolate if they have coronavirus symptoms and are waiting for a test result, or if they are a member of the same household as someone who has symptoms or has tested positive for COVID-19.</p>
			<p>You have a legal requirement to ensure your employees self-isolate if they:</p>
			<ul>
				<li>have tested positive for coronavirus</li>
				<li>have been in close recent contact with someone who has tested positive and received a notification to self-isolate from NHS Test and Trace. You should not share the identity of a worker who has tested positive with other workers.</li>
			</ul>
			<h2>Where workers are asked to self-isolate because they are a close contact of a positive case</h2>
			<p>If a worker is asked by NHS Test and Trace to self-isolate, you have a legal duty to not knowingly allow them to come into work, or encourage them to work anywhere other than their place of self-isolation.</p>
			<p>If a worker is asked by NHS Test and Trace to self-isolate, you should:</p>
			<ul>
				<li>continue to communicate with them and provide support</li>
				<li>allow them to work from home if they remain well and it is practicable to do so, for example, by finding alternative work that can be completed at home </li>
			</ul>
			<p>If a worker cannot work from home, you:</p>
			<ul>
				<li>must ensure they receive Statutory Sick Pay (SSP) provided they meet the eligibility criteria</li>
				<li>may consider giving them the option to use their paid leave days if they prefer</li>
			</ul>
			<p>Employees in self-isolation are entitled to SSP for every day they are in isolation, as long as they meet the eligibility conditions.</p> 
			<p>You may be able to reclaim SSP. NHS Test and Trace will provide evidence to your worker that they have been told to self-isolate. You should ask them to follow the instructions on getting an isolation note if you require evidence. You may need this evidence to reclaim SSP.</p>  
			<p>If contacted by NHS Test and Trace, your worker will need to self-isolate for 10 days from when they last came into contact with the positive case. They will not be able to leave self-isolation early even if they are not symptomatic.</p>  
			<p>They should not take a test if they are not symptomatic as this could generate a false negative and they may then go on to develop symptoms in the following days.</p>  
		</div>
	</div>
		<!---More
		<div>
			<h3 class="cross-links" style="margin-top: 60px;">Related information</h3>
			<ul class="bottom-links" style="list-style-type: none; padding-left: 0px;">
				<li><a href="">Cross link 1</a></li>
			</ul>
		</div>
-->
			<div class="nhsuk-review-date nhsuk-u-padding-top-5">
				<p class="nhsuk-body-s">
					Page last reviewed: 21 December 2020<br>
					Next review due: 21 December 2020
				</p>
			</div>
		</div>
	</div>
</div>
</main>
{% endblock %}