<!-- Extends the layout from /views/layout.html -->
{% extends 'default.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid-19
{% endblock %}
<!-- Breadcrumb goes inside the beforeContent block -->
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;padding-bottom:0px; nhsuk-u-padding-top-0">
<!---Breadcrumb start-->
<nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
    <div >
		<ol class="nhsuk-breadcrumb__list ">
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Health A to Z</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Coronavirus (COVID-19)</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../index">Self-Isolation</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../how">How you should self-isolate</a></li>
		</ol>
		<!---Mobile breadcrumb start-->
		<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:void(0)">NHS Covid-19</a></p>
	</div>
</nav>
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		<h1>How you prepare for self-isolation</h1>
		<!--- Needs
			<div class="user-need">
			<h3>User needs</h3>
				<ul>
					<li>I need to be able to prepare practically for self-isolation</>
				</ul>
			</div>
			</br>
			<div class="org-need">
			<h3>Organisational needs</h3>
				<ul>
					<li>We need people to tell their contacts that they are in self-isolation and they need to take action</>
				</ul>
			</div>
		<!--- end Needs-->
		<p>Staying at home and self-isolating can be difficult, stressful or inconvenient but by self-isolating you're saving lives. There are things you can do now to help you if you need to self-isolate in the future.</p>
		<h2>Plan how you can get food, medication and other supplies</h2>
		<p>Food:</p>
		<ul>
			<li>set up an online account with your supermarket</li>
			<li>have a small supply of basic essentials with long shelf lives ready</li>
		</ul>
		<p>Medication:</p>
		<ul>
			<li><a href="">contact your local council</a> and ask if your medication can be delivered by your local community hub</li>
			<li>ask your local pharmacy if they can deliver your medication</li>
			<li>sign up online to have your prescription delivered by Boots, Pharmacy2U or Well</li>
		</ul>
		<h2>Know where to get help and support</h2>
		<ul>
			<li>save <a href="">NHS 111 online coronavirus service</a> and <a href="">get a test to check if you have coronavirus</a> in your browser</li>
			<li>ask friends and family if they can drop things off should you have to self-isolate</li>
			<li>ask neighbours if they'd be able to take care of your pets</li>
		</ul>
	</div>
</div>
<!--- Why prompt -->
	{% include "why_prompt.html" %}
<!--- end Why prompt -->
	<h3>Related information</h3>
	<p><a href="../help">Help and support while self-isolating</a></p>
<!---More-->
	<div>
		<nav class="nhsuk-contents-list nhsuk-u-padding-top-8" role="navigation"
			aria-label="Pages in this guide">
			<h3 class="">More in <a href="../how">How to self-isolate</a></h3>
			<ul class="nhsuk-list app-side-nav__list">
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="1">The rules for self-isolating</a></li>
				<li class="app-side-nav__item app-side-nav__item--current">How you prepare for self-isolation</li>
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="4">How to look after yourself at home if you have coronavirus</a></li>
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="5">How to avoid spreading coronavirus to people you live with</a></li>
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="6">Breaking self-isolation</a></li>
			</ul>
		</nav>
		</div>
			<div class="nhsuk-review-date nhsuk-u-padding-top-5">
			<p class="nhsuk-body-s">
				Page last reviewed: 21 December 2020<br>
				Next review due: 21 December 2020
			</p>
		</div>
		</div>
	</div>
</div>
</main>
{% endblock %}