<!-- Extends the layout from /views/layout.html -->
{% extends 'default.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid-19
{% endblock %}
<!-- Breadcrumb goes inside the beforeContent block -->
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;padding-bottom:0px; nhsuk-u-padding-top-0">
<!---Breadcrumb start-->
<nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
    <div >
		<ol class="nhsuk-breadcrumb__list ">
		<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="javascript:void(0)">NHS Covid-19</a></li>
		<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../index">Self-Isolation guidance</a></li>
		<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../how">How to self-isolate</a></li>
		</ol>
		<!---Mobile breadcrumb start-->
		<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:void(0)">NHS Covid-19</a></p>
	</div>
</nav>
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		<h1>Practical support when you are self-isolating</h1>
		<p><a href="https://nhsvolunteerresponders.org.uk/">NHS Volunteer Responders</a> can help with things like:</p>
		<ul>
			<li>collecting shopping</li>
			<li>collecting medicines and prescriptions</li>
			<li>phone calls if you want to chat to someone</li>
		</ul>
		<p><a href="tel:0808 196 3646">Call 0808 196 3646</a> (8am to 8pm, everyday) to arrange help from a volunteer.</p>
		<h3>If you are breastfeeding</h3>
		<p>If you have symptoms of COVID-19, have tested positive or are living in a household with someone who has COVID-19, you may be concerned about the infection spreading to your baby if you are breastfeeding.</p>
		<p>The benefits of breastfeeding outweigh any potential risks of transmission of the virus through breast milk or by being in close contact, however, this will be an individual decision. Talk to your midwife, health visitor or GP by telephone.</p>
		<p>There is currently no evidence to suggest that the COVID-19 virus can be transmitted through breast milk. However, COVID-19 infection can be passed on to a baby in the same way as it can to anyone in close contact with you. The current evidence is that children with COVID-19 get much less severe symptoms than adults.
		If you or a family member are feeding with formula or expressed milk, sterilise the equipment carefully before each use. You should not share bottles or a breast pump with someone else.</p>
		<p>You can find more information from the <a rel="external" href="https://www.rcog.org.uk/en/guidelines-research-services/guidelines/coronavirus-pregnancy/covid-19-virus-infection-and-pregnancy/" class="govuk-link">Royal College of Obstetricians and Gynaecologists</a>.</p>
	</div>
</div>
<!---More-->
	<div>
		<nav class="nhsuk-contents-list nhsuk-u-padding-top-8" role="navigation"
			aria-label="Pages in this guide">
			<h3 class="">More in <a href="../how">How to self-isolate</a></h3>
			<ul class="nhsuk-list app-side-nav__list">
					<li class="app-side-nav__item"><a class="app-side-nav__link" href="1">What is self-isolation?</a></li>
					<li class="app-side-nav__item"><a class="app-side-nav__link" href="2">How long should you self isolate for?</a></li>
					<li class="app-side-nav__item"><a class="app-side-nav__link" href="3">Financial support when you are self-isolating</a></li>
					<li class="app-side-nav__item app-side-nav__item--current">Practical support when you are self-isolating</li>
					<li class="app-side-nav__item"><a class="app-side-nav__link" href="5">Emotional support when you are self-isolating</a></li>
					<li class="app-side-nav__item"><a class="app-side-nav__link" href="6">If your symtoms get worse</a></li>
					<li class="app-side-nav__item"><a class="app-side-nav__link" href="7">If you had Covid-19 before and now have it again</a></li>
			</ul>
		</nav>
		</div>
			<div class="nhsuk-review-date nhsuk-u-padding-top-5">
			<p class="nhsuk-body-s">
				Page last reviewed: 21 December 2020<br>
				Next review due: 21 December 2020
			</p>
		</div>
		</div>
	</div>
</div>
</main>
{% endblock %}