<!-- Extends the layout from /views/layout.html -->
{% extends 'default.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid-19
{% endblock %}
<!-- Breadcrumb goes inside the beforeContent block -->
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;padding-bottom:0px; nhsuk-u-padding-top-0">
<!---Breadcrumb start-->
<nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
    <div >
		<ol class="nhsuk-breadcrumb__list ">
		<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="javascript:void(0)">NHS Covid-19</a></li>
		<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../index">Self-Isolation guidance</a></li>
		<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../how">How to self-isolate</a></li>
		</ol>
		<!---Mobile breadcrumb start-->
		<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:void(0)">NHS Covid-19</a></p>
	</div>
</nav>
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		<h1>Emotional support when you are self-isolating</h1>
		<p>Staying at home for a prolonged period can be difficult, frustrating and lonely for some people, and you or other household members may feel low. It can be particularly challenging if you don't have much space or access to a garden.</p>
		<p>It's important to remember to take care of your mind as well as your body and to get support if you need it. Stay in touch with family and friends over the phone or on social media. There are also sources of support and information that can help, such as the&nbsp;<a rel="external" href="https://www.nhs.uk/oneyou/every-mind-matters/" class="govuk-link">Every Mind Matters website</a>.</p>
		<p>Think about things you can do during your time at home. People who have stayed at home for a week or more have kept themselves busy with activities such as cooking, reading, online learning and watching films. If you feel well enough, you can take part in light exercise within your home.</p>
		<p>For family members who are 70 or over, or clinically vulnerable, and are not symptomatic, it is important to avoid contact with other family members as much as possible <a href="#aged-70" class="govuk-link">see guidance above on persons aged 70 or over and the clinically vulnerable</a>.</p>
		<p>Many people find it helpful to remind themselves why what they are doing is so important. Hopefully, none of your family will experience anything more than mild symptoms, but some people are badly affected by COVID-19. By staying home, you are helping to protect your friends and family and other people in your community, as well as making sure the NHS does not get overwhelmed.</p>
		<p>Remember it is OK to share your concerns with others you trust and in doing so you may end up providing support to them too. Or you can use an <a rel="external" href="https://www.nhs.uk/conditions/stress-anxiety-depression/mental-health-helplines/" class="govuk-link">NHS recommended helpline</a>.</p>
		<p>See more <a href="https://www.gov.uk/government/publications/covid-19-guidance-for-the-public-on-mental-health-and-wellbeing/guidance-for-the-public-on-the-mental-health-and-wellbeing-aspects-of-coronavirus-covid-19" class="govuk-link">Guidance for the public on the mental health and wellbeing aspects of COVID-19</a>.</p>
		<p>There are things that you can do to help make self-isolation easier. These include:</p>
		<ul>
			<li>planning ahead and thinking about what you will need in order to be able to stay at home for the full duration of isolation. Consider and plan for those in your home who are aged 70 or over, or otherwise clinically vulnerable</li>
			<li>talking to your employer, friends and family to ask for their help to access the things you will need while staying at home</li>
			<li>creating a contact list with phone numbers of neighbours, schools, employers, chemists, NHS 111</li>
			<li>thinking about and planning how you can get access to food and other supplies, such as medications, that you will need during this period. Set up online shopping accounts if possible</li>
			<li>asking friends or family to drop off anything you need or ordering supplies online, but make sure these are left outside your home for you to collect</li>
			<li>ensuring that you keep in touch with friends and family over the phone or through social media</li>
			<li>thinking about things you can do during your time at home, such as cooking, reading, online learning and watching films</li>
			<li>planning out the full 10 days, such as on a make-shift calendar, which many people find helpful. You may also find it helpful to plan in advance what you will do if, for example, someone in your household were to feel much worse, such as having difficulties breathing</li>
			<li>remembering that physical exercise can be good for your wellbeing when you are feeling better. Look for online classes or courses that can help you do light exercise in your home</li>
		</ul>
		<h2 id="support-bubbles">Support bubbles</h2>
		<p>If you are in a single adult household - in other words, adults who live alone or with dependent children only - you can now form a support bubble with one other household. All those in a support bubble will be able to spend time together inside each other's homes, including overnight, without needing to stay 2 metres apart. You should only form a support bubble with one other household. Once formed, you should not change the members of your support bubble. Further information about bubbling can be found in the <a href="https://www.gov.uk/guidance/making-a-support-bubble-with-another-household" class="govuk-link">making a support bubble with another household</a> guidance.</p>
		<p>If any member of your support bubble - either someone in your own household or one that you have formed a bubble with - develops <a href="#symptoms" class="govuk-link">symptoms</a> or tests positive for coronavirus you should all follow the <a href="https://www.gov.uk/government/publications/covid-19-stay-at-home-guidance" class="govuk-link">stay at home guidance for households</a> and isolate for 10 days.</p>
	</div>
</div>
<!---More-->
	<div>
		<nav class="nhsuk-contents-list nhsuk-u-padding-top-8" role="navigation"
			aria-label="Pages in this guide">
			<h3 class="">More in <a href="../index">Self-Isolation Guidance</a></h3>
			<ul class="nhsuk-list app-side-nav__list">
					<li class="app-side-nav__item"><a class="app-side-nav__link" href="1">What is self-isolation?</a></li>
					<li class="app-side-nav__item"><a class="app-side-nav__link" href="2">How long should you self isolate for?</a></li>
					<li class="app-side-nav__item"><a class="app-side-nav__link" href="3">Financial support when you are self-isolating</a></li>
					<li class="app-side-nav__item"><a class="app-side-nav__link" href="4">Practical support when you are self-isolating</a></li>
					<li class="app-side-nav__item app-side-nav__item--current">Emotional support when you are self-isolating</li>
					<li class="app-side-nav__item"><a class="app-side-nav__link" href="6">If your symtoms get worse</a></li>
					<li class="app-side-nav__item"><a class="app-side-nav__link" href="7">If you had Covid-19 before and now have it again</a></li>
			</ul>
		</nav>
		</div>
			<div class="nhsuk-review-date nhsuk-u-padding-top-5">
			<p class="nhsuk-body-s">
				Page last reviewed: 21 December 2020<br>
				Next review due: 21 December 2020
			</p>
		</div>
		</div>
	</div>
</div>
</main>
{% endblock %}