<nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
    <div >
		<ol class="nhsuk-breadcrumb__list ">
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Health A to Z</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Coronavirus (COVID-19)</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Self-Isolation</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../how">How you should self-isolate</a></li>
		</ol>
		<!---Mobile breadcrumb start-->
		<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:void(0)">Self-Isolation</a></p>
	</div>
</nav>
<!-- Extends the layout from /views/layout.html -->
{% extends 'default.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid-19
{% endblock %}
<!-- Breadcrumb goes inside the beforeContent block -->
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;padding-bottom:0px; nhsuk-u-padding-top-0">
<!---Breadcrumb start-->
<nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
    <div >
		<ol class="nhsuk-breadcrumb__list ">
		<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="javascript:void(0)">NHS Covid-19</a></li>
		<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../index">Self-Isolation guidance</a></li>
		<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../how">How to self-isolate</a></li>
		</ol>
		<!---Mobile breadcrumb start-->
		<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:void(0)">NHS Covid-19</a></p>
	</div>
</nav>
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		<h1>How to avoid spreading coronavirus to people you live withs</h1>
<!--- Needs
		<div class="user-need">
		<h3>User needs</h3>
			<ul>
				<li>I need to know the rules and guidance related to living with other adults</li>
				<li>I need to know the rules and guidance related to living, or caring for, children</li>
				<li>I need to know the rules and guidance related to living, or caring for, vulnerable adults</li>
			</ul>
		</div>
		</br>
		<div class="org-need">
		<h3>Organisational needs</h3>
			<ul>
				<li>We need people to help their friends and family who are self-isolating</li>
			</ul>
		</div>
<!--- end Needs-->
		<p>If you are self-isolating because of coronavirus, there are things you can do to reduce the chances of spreading any infection to the people you live with.</p>
		<h2>Try to stay away from people you live with</h2>
		<p>If you have symptoms, you should stay away from other people you live with as much as possible.</p>
		<p>If you can:</p>
			<ul>
				<li>stay on your own in one room as much as possible and keep the door closed</li>
				<li>avoid using shared spaces (such as the kitchen) at the same time as other people - eat your meals in your room </li>
				<li>use a separate bathroom - otherwise, use the bathroom after everyone else and clean it each time you use it, for example, by wiping the surfaces you've touched</li>
			</ul>
			<h2>How to reduce the spread of infection in your home</h2>
			<div class="nhsuk-do-dont-list">
				<h3 class="nhsuk-do-dont-list__label">Do</h3>
				<ul class="nhsuk-list nhsuk-list--tick">
				<li>
					<svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
					<path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
					</svg>
					<p>wash your hands with soap and water often, for at least 20 seconds</p>
				</li>
				<li>
					<svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
					<path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
					</svg>
					<p>use hand sanitiser gel if soap and water are not available</p>
				</li>
				<li>
					<svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
					<path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
					</svg>
					<p>cover your mouth and nose with a tissue or your sleeve (not your hands) when you cough or sneeze</p>
				</li>
				<li>
					<svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
					<path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
					</svg>
					<p>•	double-bag used tissues and store them for 72 hours before putting them in a waste bin. Wash your hands afterwards</p>
				</li>
				<li>
					<svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
					<path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
					</svg>
					<p>clean objects and surfaces you touch often (such as door handles, kettles and phones) using your regular cleaning products</p>
				</li>
				<li>
					<svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
					<path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
					</svg>
					<p>consider wearing a face covering when in shared spaces</p>
				</li>
				<li>
					<svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
					<path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
					</svg>
					<p>consider wearing a face covering when in shared spaces</p>
					</li>
				</ul>
			</div>
		<div class="nhsuk-do-dont-list">
			<h3 class="nhsuk-do-dont-list__label">Don't</h3>
			<ul class="nhsuk-list nhsuk-list--tick">
			<li>
				  <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
					<path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
					<path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
				  </svg>
				  <p>do not go to work, school or public places</p>
				</li>
			</ul>
		</div>
		</br>
		<h2>Living with children</h2>
		<p>Not all these measures will be possible if you are living with children but keep following this advice to the best of your ability.</p>
		<p>Children with COVID-19 appear to be less severely affected. It is nevertheless important to do your best to ensure that all members of your household follow this guidance.</p>
		<p>Parents or guardians are legally responsible for ensuring that anyone under 18 self-isolates if they test positive for COVID-19 and are contacted by NHS Test and Trace and told to self-isolate.</p>
		<p>Read the full <a href="">guidance for households with grandparents, parents and children living together where someone is at increased risk or has possible or confirmed coronavirus (COVID-19) infection on GOV.UK</a>.</p>

		<h2>Living with vulnerable people </h2>
		<p>It's especially important to try to avoid spreading the infection to anyone <a href="">who's at higher risk from coronavirus</a> (such as people who are 70 or over, pregnant or have a weakened immune system).</p>
		<p>If you live with someone at higher risk, try to arrange for them to stay with friends or family while you're self-isolating.</p>
		<p>If you have to stay at home together, try to keep 2 metres (3 steps) away from each other. If possible, try not to share a bed.</p>
	</div>
</div>
<!--- Why prompt -->
	{% include "why_prompt.html" %}
<!--- end Why prompt -->
<!---More-->
	<div>
		<nav class="nhsuk-contents-list nhsuk-u-padding-top-8" role="navigation"
			aria-label="Pages in this guide">
			<h3 class="">More in <a href="../how">How to self-isolate</a></h3>
			<ul class="nhsuk-list app-side-nav__list">
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="1">The rules for self-isolating</a></li>
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="2">How you prepare for self-isolation</a></li>
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="3">When to start and stop self-isolation</a></li>
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="4">How to look after yourself at home if you have coronavirus</a></li>
				<li class="app-side-nav__item app-side-nav__item--current">How to avoid spreading coronavirus to people you live with</li>
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="6">Breaking self-isolation</a></li>	
			</ul>
		</nav>
		</div>
			<div class="nhsuk-review-date nhsuk-u-padding-top-5">
			<p class="nhsuk-body-s">
				Page last reviewed: 21 December 2020<br>
				Next review due: 21 December 2020
			</p>
		</div>
		</div>
	</div>
</div>
</main>
{% endblock %}