<!-- Extends the layout from /views/layout.html -->
{% extends 'default.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid-19
{% endblock %}
<!-- Breadcrumb goes inside the beforeContent block -->
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;padding-bottom:0px; nhsuk-u-padding-top-0">
<!---Breadcrumb start-->
<nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
    <div >
		<ol class="nhsuk-breadcrumb__list ">
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Health A to Z</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="covidhub">Coronavirus (COVID-19)</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Self-isolation</a></li>
		</ol>
		<!---Mobile breadcrumb start-->
		<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:void(0)">Self-isolation</a></p>
	</div>
</nav>
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		<h1>Help and support while self-isolating</h1>
	<!--- needs
		<div class="user-need">
		<h3>User needs</h3>
			<ul>
				<li>I need to be able to pay the bills when self-isolatiing</li>
				<li>I need to be able to prove to my employer that I've been told to self-isolate</li>
				<li>I need some practical help while self-isolatiing</li>
				<li>I need to monitor the progression of COVID so I can seek help if necessary</li>
				<li>I need to understand how to make self-isolation bearable</li>
				<li>I need encouragement to continue self-isolating when it becomes hard</li>
				<li>I want to talk to a human being (for reassurance) at this worrying time</li>
			</ul>
		</div>
	<!--- needs  -->
		<p>While you're self-isolating:</p>
		<ul>
			<li>You might be able to get sick pay or other types of financial support if you're not able to work</li>
			<li>You can get help with everyday tasks, like collecting shopping or medicines, from an NHS volunteer</li>
		</ul>
		<h2>Financial support</h2>
		<p>If you're on a low income and you're asked to self-isolate by NHS Test and Trace, you may be able to <a href="">apply for a &#163;500 Test and Trace Support Payment</a> from your local council.</p>
		<p>There is a lot of information to help you during this period:</p>
		<ul>
			<li><a href="">Coronavirus (COVID-19): what to do if you're employed and cannot work</a></>
			<li><a href="">Local Authority and Council support in your area</a></>
		</ul>
		<h2>Help with everyday tasks from an NHS volunteer.</h2>
		<p><a href="">NHS Volunteer Responders</a> can help with things like:</p>
		<ul>
			<li>collecting shopping</li>
			<li>collecting medicines and prescriptions</li>
			<li>phone calls if you want to chat to someone</li>
		</ul>
		<p>Call 0808 196 3646 (8am to 8pm, everyday) to arrange help from a volunteer.</p>

		<h2>Get coronavirus help from your local council.</h2>
		<p>You might be able to get:</p>
		<ul>
			<li>money to help with living costs</li>
			<li>help getting food and other essentials</li>
			<li>support for your business</li>
		</ul>
		<p><a href="">Find out what help you can get from your local council if you're affected by coronavirus</a>.</p>

		<h2>Emotional support</h2>
		<p>It's important to remember to take care of your mind as well as your body and to get support if you need it. Stay in touch with family and friends over the phone or on social media. There are also sources of <a href="">support and information that can help</a>.</p>
		<p>Staying at home and self-isolating can be difficult, stressful or inconvenient but by self-isolating you're saving lives.</p>
	</div>
</div>
<!--- Why prompt -->
	<div class="nhsuk-inset-text">
		<span class="nhsuk-u-visually-hidden">Information: </span>
		<p>Self-isolating protects your family, friends and local community and breaks the chain of transmission. You could be fined if you do not self-isolate.</p>
		<p><a href="why">More on the importance of self-isolating</a> </p>
	</div>
<!--- end Why prompt -->
</br>
	<h3>Related information</h3>
	<p><a href="work/1">Advice for Employees, self-employed and job seekers</a></p>
	<p><a href="how/4">Help and support while self-isolating</a></p>
		<div class="nhsuk-review-date nhsuk-u-padding-top-5">
			<p class="nhsuk-body-s">
				Page last reviewed: 21 December 2020<br>
				Next review due: 21 December 2020
			</p>
		</div>
		</div>
	</div>
</div>
</main>
{% endblock %}
