<!-- Extends the layout from /views/layout.html -->
{% extends 'default.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid-19
{% endblock %}
<!-- Breadcrumb goes inside the beforeContent block -->
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;padding-bottom:0px; nhsuk-u-padding-top-0">
<!---Breadcrumb start-->
<nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
    <div >
		<ol class="nhsuk-breadcrumb__list ">
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Health A to Z</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../covidhub">Coronavirus (COVID-19)</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../index">Self-isolation</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../how">How you should Self-isolate</a></li>
		</ol>
		<!---Mobile breadcrumb start-->
		<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:void(0)">NHS Covid-19</a></p>
	</div>
</nav>
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
      
  <h1>How to look after yourself at home if you have coronavirus</h1>


    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        
  
    


  <section>
    

    

    

      
        <p>Most people with coronavirus (COVID-19) feel better within a few weeks. You may be able to look after yourself at home while you recover.</p>
      
        <div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>While you&#x27;re ill, ask a friend, family member or neighbour to check up on you. Arrange a regular call or talk though a doorway (not face to face) so they can check how you&#x27;re doing.</p>
</div>

      
  </section>


  
    


  <section>
    

    

    

      
        <h2><b>Treating a high temperature</b></h2><p>If you have a high temperature, it can help to:</p><ul><li>get lots of rest</li><li>drink plenty of fluids (water is best) to avoid dehydration - drink enough so your pee is light yellow and clear</li><li>take <a href="/medicines/paracetamol-for-adults/">paracetamol</a> or <a href="/medicines/ibuprofen-for-adults/">ibuprofen</a> if you feel uncomfortable</li></ul>
      
        
<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
    Is it safe to take ibuprofen if I have symptoms of coronavirus?
    </span>
  </summary>
  <div class="nhsuk-details__text">
    
      <p>There have been some news reports of anti-inflammatory painkillers, such as ibuprofen, making coronavirus worse.</p><p>The Commission on Human Medicines has now confirmed there is no clear evidence that using ibuprofen to treat symptoms such as a high temperature makes coronavirus worse.</p><p>You can take paracetamol or ibuprofen to treat symptoms of coronavirus. Try paracetamol first if you can, as it has fewer side effects than ibuprofen and is the safer choice for most people.</p><p>Always follow the instructions that come with your medicine.</p>
    
  </div>
</details>

      
  </section>


  
    


  <section>
    

    

    

      
        <h2><b>Treating a cough</b></h2><p>If you have a cough, it&#x27;s best to avoid lying on your back. Lie on your side or sit upright instead.</p><p>To help ease a cough, try having a teaspoon of honey. But do not give honey to babies under 12 months.</p><p>If this does not help, you could contact a pharmacist for advice about cough treatments.</p>
      
        <div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">Do not go to a pharmacy</h3>
  <p>If you or someone you live with has coronavirus symptoms, you must all stay at home.</p><p>Try calling or contacting the pharmacy online instead.</p>
</div>

      
  </section>


  
    


  <section>
    

    

    

      
        <div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <h2>Get help while you&#x27;re staying at home</h2><p><a href="https://nhsvolunteerresponders.org.uk/services#_ga=2.25563454.2036239927.1611582141-504823594.1602869368">NHS Volunteer Responders</a> can help you while you have to stay at home (Self-isolate).</p><p>They can help with things like collecting shopping and medicines.</p><p><a href="tel:0808 196 3646">Call 0808 196 3646</a> (8am to 8pm, everyday) to arrange help from a volunteer.</p>
</div>

      
  </section>


  
    


  <section>
    

    

    

      
        <h2>Things to try if you&#x27;re feeling breathless</h2><p>If you&#x27;re feeling breathless, it can help to keep your room cool.</p><p>Try turning the heating down or opening a window. Do not use a fan as it may spread the virus.</p><p>You could also try:</p><ul><li>breathing slowly in through your nose and out through your mouth, with your lips together like you&#x27;re gently blowing out a candle</li><li>sitting upright in a chair</li><li>relaxing your shoulders, so you&#x27;re not hunched</li><li>leaning forward slightly - support yourself by putting your hands on your knees or on something stable like a chair</li></ul><p>Try not to panic if you&#x27;re feeling breathless. This can make it worse.</p>
      
        
<div class="nhsuk-brightcove-video">
  
  <div class="nhsuk-promo__content">
        <h3>Video: tips for breathlessness</h3>
        
        <p>Find out how you can help relieve breathlessness.</p>
        
  </div>
  
  <div class="nhsuk-brightcove-videoplayer">
    <video data-video-id="6162708319001"
        data-account="79855382001"
        data-player="EkC1XU82e"
        data-embed="default"
        data-application-id
        class="video-js vjs-fluid"
        controls>
    </video>
    <script src="//players.brightcove.net/79855382001/EkC1XU82e_default/index.min.js"></script>
  </div>
  <div class="nhsuk-brightcove-video--date">
    
    Media last reviewed: 2 June 2020<br>
    Media review due: 2 June 2023
  </div>
</div> 


      
  </section>


  
    


  <section>
    

    

    

      
        

<div class="nhsuk-care-card nhsuk-care-card--urgent">
  <div class="nhsuk-care-card__heading-container">
    <h2 class="nhsuk-care-card__heading">
      <span role="text">
        <span class="nhsuk-u-visually-hidden">Urgent advice: </span>Get advice from NHS 111 or a GP if:
      </span>
    </h2>
    <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
  </div>
  <div class="nhsuk-care-card__content">
    
      <ul><li>you&#x27;re feeling gradually more unwell or more breathless</li><li>you have difficulty breathing when you stand up or move around</li><li>you feel very weak, achy or tired</li><li>you&#x27;re shaking or shivering</li><li>you&#x27;ve lost your appetite</li><li>you&#x27;re unable to care for yourself - for example, tasks like washing and dressing or making food are too difficult</li><li>you still feel unwell after 4 weeks - this may be <a href="/conditions/coronavirus-covid-19/long-term-effects-of-coronavirus-long-covid/">long COVID</a></li></ul><p>Go to <a href="https://111.nhs.uk/covid-19/">111.nhs.uk</a>, call 111 or call your GP surgery.</p>
    
    
  </div>
</div>

      
        

<div class="nhsuk-care-card nhsuk-care-card--immediate">
  <div class="nhsuk-care-card__heading-container">
    <h2 class="nhsuk-care-card__heading">
      <span role="text">
        <span class="nhsuk-u-visually-hidden">Immediate action required: </span>Go to A&amp;E immediately or call 999 if:
      </span>
    </h2>
    <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
  </div>
  <div class="nhsuk-care-card__content">
    
      <ul><li>you&#x27;re so breathless that you&#x27;re unable to say short sentences when resting</li><li>your breathing has got suddenly worse</li><li>you cough up blood</li><li>you feel cold and sweaty, with pale or blotchy skin</li><li>you have a rash that looks like small bruises or bleeding under the skin and does not fade when you roll a glass over it</li><li>you collapse or faint</li><li>you feel agitated, confused or very drowsy</li><li>you&#x27;ve stopped peeing or are peeing much less than usual</li></ul>
    
    
      <div class="nhsuk-action-link">
  <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/other-services/Accident-and-emergency-services/LocationSearch/428" >
    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="nhsuk-action-link__text">Find your nearest A&amp;E</span>
  </a>
</div>

    
  </div>
</div>

      
        <div class="nhsuk-warning-callout">
  <h2 class="nhsuk-warning-callout__label">Babies and children</h2>
  <p>Call 111 if you&#x27;re worried about a baby or child.</p><p>If they seem very unwell, are getting worse, or you think there&#x27;s something seriously wrong, call 999.</p><p>Do not delay getting help if you&#x27;re worried. Trust your instincts.</p><p>Get more advice about <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/symptoms/coronavirus-in-children/">coronavirus in children</a>.</p>
</div>

      
  </section>


  
    


  <section>
    

    

    

      
        <h2>If you have a pulse oximeter</h2><p>A pulse oximeter is a device that clips on your finger to check the level of oxygen in your blood. If you have a pulse oximeter at home, you can use it to help monitor your condition.</p><p>Low levels of oxygen in your blood can be a sign you&#x27;re getting worse.</p><p>A pulse oximeter can help you spot this before you feel breathless or have any other symptoms, so you can get help before it becomes more serious.</p><p><a href="https://youtu.be/ifnYjD4IKus">Watch an NHS YouTube video about how to use a pulse oximeter</a></p>
      
        




  
    <div class="nhsuk-table__panel-with-heading-tab">
      <h3 class="nhsuk-table__heading-tab">When to get medical help</h3>
      <div class="nhsuk-table-responsive">
        <table><caption>What to do if your blood oxygen level drops</caption>
<thead>
<tr>
  <th scope="col">Blood oxygen level</th>
  <th scope="col">What to do</th>
</tr>
</thead>
<tbody>
<tr>
  <td>95 to 100</td>
  <td>Stay at home and continue to check your blood oxygen level regularly</td>
</tr>
<tr>
  <td>93 or 94</td>
  <td>Check your blood oxygen level again within an hour - if it's still 93 or 94, call 111 or your GP surgery for advice</td>
</tr>
<tr>
  <td>92 or below</td>
  <td>Check your blood oxygen level again straight away - if it's still 92 or below, go to A&amp;E immediately or call 999</td>
</tr>
</tbody>
</table>

      </div>
    </div>
  


      
        <p>If your blood oxygen level is usually below 95 but it drops below your normal level, call 111 or your GP surgery for advice.</p>
      
        <div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>If you need to call for help, tell the person you speak to what your blood oxygen level is.</p>
</div>

      
  </section>

      </div>

      

    </div>
  </article><!--- Why prompt -->
	{% include "why_prompt.html" %}
<!--- end Why prompt -->
<!---More-->
	<div>
		<nav class="nhsuk-contents-list nhsuk-u-padding-top-8" role="navigation"
			aria-label="Pages in this guide">
			<h3 class="">More in <a href="../how">How to Self-isolate</a></h3>
			<ul class="nhsuk-list app-side-nav__list">
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="1">The rules for self-isolating</a></li>
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="2">How you prepare for Self-isolation</a></li>
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="3">When to start and stop Self-isolation</a></li>
				<li class="app-side-nav__item app-side-nav__item--current">How to look after yourself at home if you have coronavirus</li>
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="5">How to avoid spreading coronavirus to people you live with</a></li>
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="6">Breaking Self-isolation</a></li>
			</ul>
		</nav>
		</div>
			<div class="nhsuk-review-date nhsuk-u-padding-top-5">
			<p class="nhsuk-body-s">
				Page last reviewed: 21 December 2020<br>
				Next review due: 21 December 2020
			</p>
		</div>
		</div>
	</div>
</div>
</main>
{% endblock %}