<!-- Extends the layout from /views/layout.html -->
{% extends 'default.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid-19
{% endblock %}
<!-- Breadcrumb goes inside the beforeContent block -->
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;padding-bottom:0px; nhsuk-u-padding-top-0">
<!---Breadcrumb start-->
<nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
    <div >
		<ol class="nhsuk-breadcrumb__list ">
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="javascript:void(0)">NHS Covid-19</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Self-Isolation</a></li>
		</ol>
	<!---Mobile breadcrumb start-->
	<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:void(0)">NHS Covid-19</a></p>
	</div>
</nav>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
	<h1>Self-isolation and work</h1>
	<p>Advice if you're employed, self-employed, an employer or a job seeker</P>
		<ul class="nhsuk-hub-key-links">
			<li class="nhsuk-hub-key-links__list-item">
				<a href="work/1">Advice if you're employed, self-employed or a job seeker</a>
			</li>
			<li class="nhsuk-hub-key-links__list-item">
				<a href="work/2">Advice for employers</a>
			</li>
		</ul>
    <div class="nhsuk-hub-after-key-links" style="margin-top: 60px; margin-bottom: 60px; border-style: solid; border-width: 3px; border-color: #DEDFE0;"></div>
	<!---
		<div>
			<h3 class="cross-links" style="margin-top: 60px;">Related information</h3>
			<ul class="bottom-links" style="list-style-type: none; padding-left: 0px;">
				<li><a href="">Cross link 1</a></li>
			</ul>
		</div>
	<!--- More-->
			<div class="nhsuk-review-date nhsuk-u-padding-top-5">
				<p class="nhsuk-body-s">
					Page last reviewed: 21 December 2020<br>
					Next review due: 21 December 2020
				</p>
			</div>
		</div>
	</div>
</div>
</main>
{% endblock %}