<!-- Extends the layout from /views/layout.html -->
{% extends 'default.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid-19
{% endblock %}
<!-- Breadcrumb goes inside the beforeContent block -->
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;padding-bottom:0px; nhsuk-u-padding-top-0">
<!---Breadcrumb start-->
<nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
    <div >
		<ol class="nhsuk-breadcrumb__list ">
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Health A to Z</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Coronavirus (COVID-19)</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../index">Self-Isolation</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../work">Self-isolation and work</a></li>
		</ol>
		<!---Mobile breadcrumb start-->
		<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:void(0)">NHS Covid-19</a></p>
	</div>
</nav>
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		<h1>Advice if you're employed, self-employed or a job seeker</h1>
		<!--- end Needs
		<div class="user-need">
		<h3>User needs</h3>
			<ul>
				<li>I need to be able to pay the bills when self-isolatiing</>
				<li>I need to be able to prove to my employer that I've been told to self-isolate</>
			</ul>
		</div>
		<!--- end Needs-->
		<h2>Advice for employees</h2> 
		<p>Tell your employer if you cannot work while you're self-isolating.</p>
		<p>You should work from home if you can and are well enough.</p> 
		<p>You do not need to get a note from a GP.</p> 
		<div class="nhsuk-action-link">
			<a class="nhsuk-action-link__link" href="https://111.nhs.uk/isolation-note/">
				<svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
				<path d="M0 0h24v24H0z" fill="none"></path>
				<path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
			</svg>
			<span class="nhsuk-action-link__text">You can get an isolation note to send to your employer as proof you need to be off work.</span>
			</a>
		</div>		
		<h2>Financial support if you cannot work</h2> 
		<p>Your employer should tell you if you're covered by their sick leave or special leave policy.</p> 
		<p>If you cannot get sick pay from your employer, you might be able to <a href="">get Statutory Sick Pay or another type of financial support</a>.</p> 
		<p>If you're on a low income and you're asked to self-isolate by NHS Test and Trace, you may be able to <a href="">apply for a &#163;500 Test and Trace Support Payment</a> from your local council.</p>
		<p>If you cannot work from home, you might be able to get:</p>
		<ul>
			<li>a one off payment if you've been told to self-isolate - there are different schemes in <a href="">England</a>, <a href="">Northern Ireland</a>, <a href="">Scotland</a> and <a href="">Wales</a></li>
			<li><a href="">Statutory Sick Pay (SSP)</a> from your employer</li>
			<li><a href="">New Style Employment and Support Allowance (ESA)</a> if you cannot get SSP, you're under State Pension age, and you have made enough National Insurance contributions over the last 2 to 3 years - you could also get it if your child has symptoms or is self-isolating</li>
			<li><a href="">Universal Credit</a> if you or your partner are under State Pension age and you have less than &#163;16,000 in savings - you might be able to get it at the same time as SSP or New Style ESA</li>
			<li><a href="">Pension Credit</a> if both you and your partner have reached State Pension age - you might be able to get it at the same time as SSP</li>
		</ul>
		<p>There is a lot of information to help you during this period:</p>
		<ul>
			<li><a href="">Coronavirus (COVID-19): what to do if you're employed and cannot work</a>from your employer</li>
			<li><a href="">Local Authority and Council support in your area</a></li>
		</ul>
		<h2>Advice if you're self-employed</h2>
		<h3>Financial support</h3>
		<p>You may be entitled to a one-off payment of &#163;500 through the <a href="">NHS Test and Trace Support Payment scheme</a> if you are required to stay at home and self-isolate. You can apply for the NHS Test and Trace Support Payment online or through the <a href="">NHS COVID-19 app</a>.</p> 
		<p>If you or your child is self-isolating you might be able to get New Style Employment and Support Allowance (ESA).</p>
		<h2>Advice if you're a job seeker</h2>
		<p>You could be eligible for a &#163;500 Test and Trace Support Payment if you live in England and you're currently receiving or are the partner of someone in the same household who is receiving, at least one of the following benefits:</p> 
		<ul>
			<li>Universal Credit</li>
			<li>Working Tax Credit</li>
			<li>Income-based Employment and Support Allowance</li>
			<li>Iincome-based Jobseeker's Allowance</li>
			<li>Income Support</li>
			<li>Housing Benefit</li>
			<li>Pension Credit</li>
		</ul>
	</div>
</div>
<!--- Why prompt -->
	{% include "why_prompt.html" %}
<!--- end Why prompt -->
	<h3>Related information</h3>
	<p><a href="../help/1">Financial support</a></p>
	<p><a href="../help">Practical support</a></p>
<!---More-->
	<div>
		<nav class="nhsuk-contents-list nhsuk-u-padding-top-8" role="navigation"
			aria-label="Pages in this guide">
			<h3 class="">More in <a href="../work">Self-isolation and work</a></h3>
			<ul class="nhsuk-list app-side-nav__list">
				<li class="app-side-nav__item app-side-nav__item--current">Advice if you're employed, self-employed or a job seeker</li>
				<li class="app-side-nav__item"><a class="app-side-nav__link" href="2">Advice for employers</a></li>
			</ul>
		</nav>
		</div>
			<div class="nhsuk-review-date nhsuk-u-padding-top-5">
			<p class="nhsuk-body-s">
				Page last reviewed: 21 December 2020<br>
				Next review due: 21 December 2020
			</p>
		</div>
		</div>
	</div>
</div>
</main>
{% endblock %}