<!-- Extends the layout from /views/layout.html -->
{% extends 'default.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Hub level 1
{% endblock %}
<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
<main class="nhsuk-main-wrapper nhsuk-main-wrapper--no-padding nhsuk-homepage nhsuk-u-padding-top-0" id="maincontent" role="main">
<section class="nhsuk-section nhsuk-u-padding-top-4">
   <div class="nhsuk-width-container">
	  <div class="nhsuk-grid-row">
		  <div class="nhsuk-grid-column-full nhsuk-section__content">
			<!---Breadcrumb start-->
<nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
    <div >
		<ol class="nhsuk-breadcrumb__list ">
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Home</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Health A to Z</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="covidhub">Coronavirus (COVID-19)</a></li>
		</ol>
	<!---Mobile breadcrumb start-->
	<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:void(0)">Self-isolation with coronavirus</a></p>
	</div>
</nav>
			<div class="">
			<!--Heading-->                  
			<h1>Self-isolation with coronavirus</h1>
			<!--Intro text-->                      
			<div class="nhsuk-grid-row">
				<div class="nhsuk-grid-column-three-quarters">
					<p class="nhsuk-lede-text">Self-isolation is when you do not leave your home because you have or might have coronavirus (COVID-19). This helps stop the virus spreading to other people.</p>
				</div>
			</div>
			<!--Top tasks start-->                      
			<div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-bottom-4 nhsuk-u-padding-top-0">
				<div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
				<div class="nhsuk-promo nhsuk-card nhsuk-promo--small">
				  <a class="nhsuk-promo__link-wrapper" href="">
					<div class="nhsuk-promo__content">
					  <h3 class="nhsuk-promo__heading">Get a test to check if you have Covid-19 on GOV.UK</h3>
					</div>
				  </a>
				</div>
			  </div>
			  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">                       
				<div class="nhsuk-promo nhsuk-card nhsuk-promo--small">
				  <a class="nhsuk-promo__link-wrapper" href="help">
					<div class="nhsuk-promo__content">
					  <h3 class="nhsuk-promo__heading">Get financial and practical support while self-isolating</h3>
					</div>
				  </a>
				</div>
			  </div>
			  <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">                       
				<div class="nhsuk-promo nhsuk-card nhsuk-promo--small">
				  <a class="nhsuk-promo__link-wrapper" href="while/1">
					<div class="nhsuk-promo__content">
					  <h3 class="nhsuk-promo__heading">The rules for Self-isolating</h3>
					</div>
				  </a>
				</div>
			  </div>
			</div>
			<!--Top tasks end-->            
			<!--Canon links row 1--> 
			<div class="nhsuk-grid-row nhsuk-promo-group ">
			  <div class="nhsuk-grid-column-one-half " >
				<div class="nhsuk-promo" >
					  <a class="nhsuk-promo__link-wrapper" href="should" style="background-color:#f0f4f5;">
						<div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
						  <h3 class="nhsuk-promo__heading">Do I need to Self-isolate</h3>
						  <p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">Advice about when you should Self-isolate and when it becomes a legal requirement</p>
						</div>
					  </a>
				</div>
			  </div>
			  <div class="nhsuk-grid-column-one-half " >
				<div class="nhsuk-promo" >
					  <a class="nhsuk-promo__link-wrapper" href="when" style="background-color:#f0f4f5;">
						<div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
						  <h3 class="nhsuk-promo__heading">When to start and stop Self-isolating</h3>
						  <p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">{Get advice on when to start and stop self-isolating, and how long it lasts}</p>
						</div>
					  </a>
				</div>
			  </div>
			</div>
			<!--Canon links row 2-->
			<div class="nhsuk-grid-row nhsuk-promo-group ">
				<div class="nhsuk-grid-column-one-half " >
				  <div class="nhsuk-promo" >
						<a class="nhsuk-promo__link-wrapper" href="while" style="background-color:#f0f4f5;">
						  <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
							<h3 class="nhsuk-promo__heading">{While you are Self-isolating}</h3>
							<p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">{The rules for Self-isolation, looking after yourself and others, and how to avoid spreading the virus}</p>
						  </div>
						</a>
				  </div>
				</div>
			   <div class="nhsuk-grid-column-one-half " >
				  <div class="nhsuk-promo" >
						<a class="nhsuk-promo__link-wrapper" href="help" style="background-color:#f0f4f5;">
						  <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
							<h3 class="nhsuk-promo__heading">Help and support while self-isolating</h3>
							<p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">Financial help, practical and emotional support wile Self-isolating</p>
						  </div>
						</a>
					</div>
				</div>
			</div>
			<!--Canon links row 3-->
			<div class="nhsuk-grid-row nhsuk-promo-group ">
				<div class="nhsuk-grid-column-one-half " >
					<div class="nhsuk-promo" >
						<a class="nhsuk-promo__link-wrapper" href="why" style="background-color:#f0f4f5;">
						  <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
							<h3 class="nhsuk-promo__heading">Why Self-isolate</h3>
							<p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">Why you need to Self-isolate even if you don't have symptoms and the science behind Self-isolation</p>
						  </div>
						</a>
					</div>
				</div>
			   <div class="nhsuk-grid-column-one-half " >
				  <div class="nhsuk-promo" >
						<a class="nhsuk-promo__link-wrapper" href="work" style="background-color:#f0f4f5;">
						  <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
							<h3 class="nhsuk-promo__heading">Self-isolation and work</h3>
							<p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">Advice if you're employed, self-employed, an employer or a job seeker</p>
						  </div>
						</a>
					</div>
				</div>
			</div>
		<!-- End canon links-->
		</div>
	</div>
</section>
<!--Bottom-->
<section class="nhsuk-section nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-5" >
	<div class="nhsuk-width-container">
	  <div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-full nhsuk-section__content">
		<!--Extra linkage-->
			<h2 class="nhsuk-heading-s nhsuk-u-margin-top-6">Related services</h2>
				<ul class="related-links" class="nhsuk-u-padding-top-0">
					<li>
					  <a href="https://www.gov.uk/get-coronavirus-test">GOV.UK: get a test to check if you have coronavirus</a>
					  <div>www.gov.uk</div>
					</li>
					<li>
						<a href="https://www.nhs.uk/conditions/coronavirus-covid-19/research/">When will I be invited to get vaccinated?</a>
						<div>www.nhs.uk</div>
					</li>
					<li>
						<a href="https://www.nhs.uk/conditions/coronavirus-covid-19/research/">Take part in coronavirus research</a>
						<div>www.nhs.uk</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
{% endblock %}