<!-- Extends the layout from /views/layout.html -->
{% extends 'default.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Covid-19
{% endblock %}
<!-- Breadcrumb goes inside the beforeContent block -->
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;padding-bottom:0px; nhsuk-u-padding-top-0">
<!---Breadcrumb start-->
<nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
    <div >
		<ol class="nhsuk-breadcrumb__list ">
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="javascript:void(0)">NHS Covid-19</a></li>
			<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Self-Isolation</a></li>
		</ul>
	<!---Mobile breadcrumb start-->
	<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:void(0)">NHS Covid-19</a></p>
	</div>
</nav>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
	<h1>Should I self-isolate</h1>
	<p>If you have symptoms of coronavirus (COVID-19), however mild, you should self-isolate immediately and arrange to <a href="">get a Covid-19 test</a>. Your household should also self-isolate immediately.</p>
	<p>Your isolation period includes the day your symptoms started (or the day your test was taken if you do not have symptoms), and the next 10 full days. This means that if, for example, your symptoms started at any time on the 15th of the month (or if you did not have symptoms but your first positive COVID-19 test was taken on the 15th), your isolation period ends at 23:59 hrs on the 25th.</p>
	<p>You may need to self-isolate for more than 10 days if you get symptoms while self-isolating or your symptoms don't go away.</p>
	<h2>Self-isolate immediately if:</h2>
	<ul>
		<li>you've tested positive for coronavirus - this means you have coronavirus.</li>
		<li>someone you live with has symptoms or tested positive.</li>
		<li>someone in your <a href="">support bubble</a> has symptoms and you've been in close contact with them since their symptoms started or during the 48 hours before they started</li>
		<li>someone in your <a href="">support bubble</a> tested positive and you've been in close contact with them since they had the test or in the 48 hours before their test</li>
		<li>you've been told you've been in contact with someone who tested positive - <a href="">find out what to do if you're told to self-isolate by NHS Test and Trace or the NHS COVID-19 app</a></li>
		<li>you arrive in the UK from a country with a high coronavirus risk - see <a href="">GOV.UK: how to self-isolate when you travel to the UK</a></li>
	</ul>
	<p>If you think you've been in contact with someone who has coronavirus, but you do not have symptoms and have not been told to self-isolate, continue to follow <a href="">social distancing advice</a>.</p>
	<p>If the NHS COVID-19 app detects you've been at a venue with someone who has coronavirus, please self-isolate when you receive the message alert.</p>
	<p>If you are under 18 years old, and test positive for coronavirus, you should notify a trusted adult before taking any action.</p>
		<div class="user-need">
		<h3>User needs</h3>
			<ul>
				<li>I need to know in what contexts I am advised to self-isolate</>
				<li>I need to know in which contexts I am legally required to self-isolate</>
				<li>I need to know what to expect from NHS Test & Trace in each context</>
				<li>I need to  book a test</>
			</ul>
		</div>
		</br>
		<div class="org-need">
		<h3>Organisational needs</h3>
			<ul>
				<li>We need people to understand that getting a negative results doesn't mean they can stop self-isolating</li>
			</ul>
		</div>
		<!--- Why prompt -->
	<div class="nhsuk-inset-text">
		<span class="nhsuk-u-visually-hidden">Information: </span>
		<p>[Why prompt]</p>
		<p><a href="../why">[Why link]</a> </p>
	</div>
		<!--- end Why prompt -->
		<!---More-->
		<div>
			<h3 class="cross-links" style="margin-top: 60px;">Related information</h3>
			<ul class="bottom-links" style="list-style-type: none; padding-left: 0px;">
				<li><a href="how">How to self-isolate</a></li>
			</ul>
		</div>
		<!---More-->
			<div class="nhsuk-review-date nhsuk-u-padding-top-5">
				<p class="nhsuk-body-s">
					Page last reviewed: 21 December 2020<br>
					Next review due: 21 December 2020
				</p>
			</div>
		</div>
	</div>
</div>
</main>
{% endblock %}