{% extends 'layout.html' %}

{% block pageTitle %}
  Self-isolation prototype
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <h1>COVID-19 self-isolation prototype</h1>

    <p>If you have any questions about this prototype contact <a href="mailto:andy.fox@dhsc.gov.uk">Andy Fox</a>.</p>

    <h2><a href="/v6/index">Version 6</a></h2>
    <p>Changelog:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Changed self-isolation hub page - now uses a flat IA and follows the 'sub topic hub' pattern</li>
      <li>Changed expander component on 'When to start and stop self-isolating' - now not expanded by default</li>
      <li>Added index page (this page) to display prototype versions</li>
    </ul>
    <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

    <h2><a href="/whw5/index">Version 5</a></h2>
    <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

    <h2><a href="/whw4/index">Version 4</a></h2>
    <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

    <h2><a href="/whw3/index">Version 3</a></h2>
    <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

    <h2><a href="/whwv2/index">Version 2</a></h2>
    <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

    <h2><a href="/whwv1/index">Version 1</a></h2>
    <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

  </div>
</div>
{% endblock %}
