{% extends 'layout.html' %}

{% block pageTitle %}
  Self-isolation prototype
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>COVID-19 self-isolation prototype</h1>

    <p>If you have any questions about this prototype contact <a href="mailto:andy.fox@dhsc.gov.uk">Andy Fox</a>.</p>

    <ul class="nhsuk-hub-key-links">
      <li class="nhsuk-hub-key-links__list-item">
        <a href="/v6/index">Version 6</a>
      </li>
      <li class="nhsuk-hub-key-links__list-item">
        <a href="/whw5/index">Version 5</a>
      </li>
      <li class="nhsuk-hub-key-links__list-item">
        <a href="/whw4/index">Version 4</a>
      </li>
      <li class="nhsuk-hub-key-links__list-item">
        <a href="/whw3/index">Version 3</a>
      </li>
      <li class="nhsuk-hub-key-links__list-item">
        <a href="/whwv2/index">Version 2</a>
      </li>
      <li class="nhsuk-hub-key-links__list-item">
        <a href="/whwv1/index">Version 1</a>
      </li>
    </ul>

  </div>
</div>
{% endblock %}
